#adminPopUp, #adminContainer {
    transition: opacity 0.3s ease-in-out;
}

#adminPopUp[style*="display: flex"] #adminContainer {
    transform: scale(1);
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}

.notificationActive {
    animation: pulse 1s infinite;
}

.headerIcon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.navTab:hover {
    background-color: rgba(226, 226, 226, 0.3);
    border-bottom: 2px solid #1D7BC5;
    transition: 0.3s;
}