#header {
    background-color: #1D7BC5;
    padding: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
}

#nav {
    padding: 10px 60px 10px 30px;
    display: flex;
    box-shadow: 0px 5px 5px rgba(65, 62, 62, 0.151);
    justify-content: space-between;
}

.navTab {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.navTab > img {
    width: 20px;
    height: fit-content;
}

.navTab > p {
    font-size: 15px;
    color: #5E5E5E;
    margin-left: 10px;
}

#selectedTab {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.navSection {
    display: flex;
}

.accountIcon {
    width: 50px;
    height: 50px;
}