#header {
    background-color: #1D7BC5;
    padding: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
}

#nav {
    padding: 10px 60px 10px 30px;
    display: flex;
    box-shadow: 0px 5px 5px rgba(65, 62, 62, 0.151);
    justify-content: space-between;
    background-color: white;
}

.navTab {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.navTab > img {
    width: 20px;
    height: fit-content;
}

.navTab > p {
    font-size: 15px;
    color: #5E5E5E;
    margin-left: 10px;
}

.navSection {
    display: flex;
}

.headerIcon {
    width: 50px;
    height: 50px;
}

header {
    box-shadow: 0px 5px 10px 5px rgba(65, 62, 62, 0.151);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

#headerIcons {
    display: flex;
    align-items: center;
    gap: 20px;
}

#cartInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    color: white;
}

#cartSection {
    display: flex;
    align-items: center;
}

#adminPopUp {
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
}

#adminContainer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(65, 62, 62, 0.151);
    gap: 20px;
    transform: scale(0.9);
    width: max-content;
    color: #5E5E5E;
}

#adminContainer > a {
    font-size: 22px;
    color: #5E5E5E;
}

#adminContainer > p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#accessButton:hover {
    cursor: pointer;
}