/* max dilakukan saat kurang */
/* min dilakukan saat lebih */

@media screen and (max-width: 1700px) {
    #stationerySection {
        zoom: 0.95;
    }
}

@media screen and (max-width: 1670px) {
    #stationerySection,
    .bookProducts {
        zoom: 0.9;
    }
}

@media screen and (max-width: 1550px) {
    #stationerySection,
    .bookProducts {
        zoom: 0.85;
    }
}

@media screen and (max-width: 1480px) {
    footer,
    header {
        zoom: 0.9;
    }

    #stationerySection,
    .bookProducts {
        zoom: 0.8;
    }
}

@media screen and (max-width: 1390px) {
    #stationerySection,
    .bookProducts {
        zoom: 0.75;
    }
}

@media screen and (max-width: 1300px) {
    #stationerySection,
    .bookProducts {
        zoom: 0.7;
    }
}

@media screen and (max-width: 1230px) {
    footer,
    header {
        zoom: 0.8;
    }

    #stationerySection,
    .bookProducts {
        zoom: 0.65;
    }
}

@media screen and (max-width: 1170px) {
    .bookProducts {
        flex-wrap: wrap;
        max-width: 1600px;
        gap: 50px;
    }

    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 2;
    }

    #bookBanner > img,
    #bookBanner {
        width: 100%;
    }

    #footer,
    #homeTitle {
        zoom: 1.2;
    }

    #nav,
    #header {
        zoom: 1.5;
    }

    #footer {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    #footer > img {
        margin-right: 0px;
    }

    #bannerStationery {
        visibility: hidden;
        position: absolute;
    }
}

@media screen and (max-width: 1130px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.8;
    }
}

@media screen and (max-width: 1050px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.7;
    }
}

@media screen and (max-width: 980px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.6;
    }

    #footerContent {
        zoom: 0.9;
    }

    #nav,
    #header {
        zoom: 1.4;
    }

    #homeTitle {
        zoom: 1;
    }

    #footer {
        justify-content: space-between;
    }

    #footerContent {
        zoom: 1;
        flex-wrap: wrap;
        max-width: 500px;
        gap: 20px;
    }
}

@media screen and (max-width: 920px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.5;
    }
}

@media screen and (max-width: 870px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.4;
    }

    #footerContent {
        zoom: 0.8;
    }

    #nav,
    #header {
        zoom: 1.2;
    }

    #footer {
        zoom: 1.65;
        justify-content: center;
    }
}

@media screen and (max-width: 830px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.3;
    }

    #nav,
    #header {
        zoom: 1.1;
    }
}

@media screen and (max-width: 780px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.2;
    }
}

@media screen and (max-width: 740px) {
    .stationeryProducts,
    #bookBannerButton,
    .bookProduct {
        zoom: 1.1;
    }

    #nav,
    #header {
        zoom: 1.1;
    }
}

@media screen and (max-width: 700px) {
    #bookBannerButton,
    .bookProduct {
        zoom: 1.01;
    }

    .stationeryProducts {
        zoom: 1.05;
    }

    #nav,
    #header {
        zoom: 1;
    }

    #homeTitle {
        zoom: 0.9;
    }

    #footer {
        zoom: 1.3;
    }
}

@media screen and (max-width: 600px) {
    .stationeryProducts {
        zoom: 1.4;
    }

    #nav {
        padding: 10px 40px 10px 20px;
        zoom: 0.7;
    }

    #header {
        padding: 20px 40px 20px 40px;
        zoom: 0.8;
    }

    #homeTitle {
        zoom: 0.9;
    }

    #footer {
        zoom: 1.2;
    }

    #homeSection {
        padding: 30px 20px 0px 20px;
    }

    .bookProducts {
        justify-content: center;
    }
}