#homeSection {
    padding: 40px 55px 0px 60px;
}

#homeTitle {
    color: #5E5E5E;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#homeTitle > img {
    width: 40px;
    height: fit-content;
    margin-right: 30px;
}

#bannerTitle > p {
    font-family: serif;
}

#bookBanner {
    position: relative;
}

#bookBanner > img {
    width: 810px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(65, 62, 62, 0.151);
}

#bookBannerButton {
    padding: 10px 50px 10px 50px;
    color: #5E5E5E;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(65, 62, 62, 0.151);
    border-radius: 50px;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: 20px;
}

#bannerStationery {
    position: relative;
    margin: 10px;
}

#bannerStationery > img {
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(65, 62, 62, 0.151);
}

#bannerStationeryButton {
    display: block;
    position: absolute;
    color: #5E5E5E;
    background-color: white;
    border-radius: 50px;
    padding: 5px 40px 5px 40px;
    bottom: 30px;
    right: 100px;
    box-shadow: 0px 0px 5px 5px rgba(65, 62, 62, 0.151);
}

#stationerySection {
    display: flex;
    justify-content: space-between;
}

#banner {
    position: relative;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.parallaxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    overflow: hidden;
}

.parallaxImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url('/front-end/global/resources/image/banner/banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bannerTitle {
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#bannerTitle > p {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    opacity: 0;
    transform: translateY(30px);
}

#banner.visible, #bannerTitle > p {
    opacity: 1;
    transform: translateY(0);
}