/* max dilakukan saat kurang */
/* min dilakukan saat lebih */

@media screen and (min-width: 1260px) {
    #background-container {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1170px) {
    .login-card {
        zoom: 0.9;
    }
}

@media screen and (max-width: 980px) {
    .login-card {
        zoom: 0.6;
    }
}

@media screen and (max-width: 700px) {
    .login-card {
        zoom: 0.5;
    }
}

@media screen and (max-width: 600px) {
    .login-card {
        zoom: 0.4;
    }
}